# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log

# Environment variables
.env

# VSCode settings
.vscode/

# OS files
.DS_Store

# Coverage
coverage/

.env.prod
